* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F4FFE3;
    color: #333;
}

/* utility styling */
.display-flex {
    display: flex;
}

.display-flex-row {
    flex-direction: row;
}

.display-flex-column {
    flex-direction: column;
}