*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F4FFE3;
    color: #333;
}

/* utility styling */
.display-flex {
    display: flex;
}

.display-flex-row {
    flex-direction: row;
}

.display-flex-column {
    flex-direction: column;
} 

.text-color-blue1 {
    color: #5B86E5;
}
.text-color-blue2 {
    color: #5B86E5;
}
.decoration-none {
    text-decoration: none;
}
