<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <link rel="stylesheet" href="studentDashboard.css">
    <link rel="stylesheet" href="../../public/common-styles/common-style1.css">
</head>

<body>
    <header>
        <nav>
            <button class="profile-icon"> </button>

            </button>
        </nav>
    </header>
    <main>
        <div class="container display-flex display-flex-column">
            <div class="greet display-flex display-flex-column">
                <p> Welcome [Your Name]</p>
                <p>Let's Complete Some Practicals</p>
            </div>
            <div class="maincontainer display-flex display-flex-row">
                <div class="practicals display-flex display-flex-column">
                    <div class="practical-heading display-flex display-flex-row">
                        <div class="practical-icon"></div>
                        <h4>Your Practicals</h4>
                    </div>
                    <div class="practicals-card-container">
                        <div class="subject-cards">
                            <div class="subject-heading display-flex display-flex-column">
                                <h3> Python</h3>
                            </div>
                            <div class="subject-details display-flex display-flex-row">
                                <div class="subject-complete">

                                </div>
                                <div class="subject-drop-down">

                                </div>

                            </div>
                        </div>
                        <div class="subject-cards">
                            <div class="subject-heading display-flex display-flex-column">
                                <h3> Python</h3>
                            </div>
                            <div class="subject-details display-flex display-flex-row">
                                <div class="subject-complete">

                                </div>
                                <div class="subject-drop-down">

                                </div>

                            </div>
                        </div>
                        <div class="subject-cards">
                            <div class="subject-heading display-flex display-flex-column">
                                <h3> Python</h3>
                            </div>
                            <div class="subject-details display-flex display-flex-row">
                                <div class="subject-complete">

                                </div>
                                <div class="subject-drop-down">

                                </div>

                            </div>
                        </div>
                        <div class="subject-cards">
                            <div class="subject-heading display-flex display-flex-column">
                                <h3> Python</h3>
                            </div>
                            <div class="subject-details display-flex display-flex-row">
                                <div class="subject-complete">

                                </div>
                                <div class="subject-drop-down">

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="analytics display-flex display-flex-column">
                    <div class="analytics-header display-flex">
                        <div class="analytic-heading">
                            <p>Your Analytics</p>
                        </div>
                        <img src="../../public/student-styles/student-images/analytics-icon.png" alt="">
                    </div>
                    <div class="progress-container display-flex display-flex-column">
                        <div class="progress-card display-flex display-flex-row">
                            <div class="sem-label">Sem : 3rd</div>
                            <div class="progress-bar">
                                <div class="progress-fill display-flex display-flex-row">
                                    <span>Ongoing</span>
                                </div>
                            </div>
                            <a href="#" class="decoration-none">
                                <div class="arrow">➤</div>
                            </a>
                        </div>
                        <div class="progress-card display-flex display-flex-row">
                            <div class="sem-label">Sem : 3rd</div>
                            <div class="progress-bar">
                                <div class="progress-fill display-flex display-flex-row">
                                    <span>Ongoing</span>
                                </div>
                            </div>
                            <a href="#" class="decoration-none">
                                <div class="arrow">➤</div>
                            </a>
                        </div>
                        <div class="progress-card display-flex display-flex-row">
                            <div class="sem-label">Sem : 3rd</div>
                            <div class="progress-bar">
                                <div class="progress-fill display-flex display-flex-row">
                                    <span>Ongoing</span>
                                </div>
                            </div>
                            <a href="#" class="decoration-none">
                                <div class="arrow">➤</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>