
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4FFE3;
    color: #333;
}
/* utility styling */
.display-flex {
    display: flex;
}
.display-flex-row {
    flex-direction: row;
}
.display-flex-column {
    flex-direction: column;
}
/* Header */
nav{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    padding: 10px;
    background-color: #bfd7fe;
}
.nav-link {
    font-size: 20px;
    justify-content: space-around;
    gap: 20px;
}
.nav-link a {
    text-decoration: none;
  
}
.tsc-btn {
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 72px;
    background-color: #FCE2E2;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

}
.tsc-btn:hover {
    background-color: #d1e0f0;
    color: rgb(0, 0, 0);

}

/* Main */
.container {
   
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* background-color: #d3ff75; */

}
/* hero section */
.hero {
    justify-content: center;
    /* height: 60%; */
    /* background-color: #ccd1c1; */
    margin: 20px;

}
.hero-content {
    justify-content: center;
    gap: 12px;
    width: 70%;
    padding: 20px;

}
/* Feature Section */
.features {
    align-items: center;

}
.feature-container {
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;

}
.features-card {
    gap: 21px;
    align-items: center;
    width: 20%;
    height: 224PX;
    background-color: #139EF4;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

} 

.features-card h3 {
    color: #fff;
    /* font-size: 30px; */
    text-align: center;
}

.features-card p {
    color: #fff;
    font-size: 16px;
    text-align: justify;
    line-height: 24px;

} 
 /* How it Work Section */

.work{
    align-items: center;
    gap: 20px;
    /* height: 100vh; */
    padding: 20px;
    /* background-color: #98cd95; */

 }
.work-image {
    width: 1262px;
    height: 511px;
    background-image: url('how-it-works.png');
    background-size: cover;
    background-position: center;
  
}

/* who is this for section */
.who {
    
    align-items: center;
    gap: 20px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    height: 100vh;
}
.witf-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;  
    background-color: #EAFEF6;
}

.witf-card {
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    gap: 15px;
}
.witf-card-img{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.witf-card-1{
background-image: url('who-is-this-for-stu.png');
}
.witf-card-2{
background-image: url('who-is-this-for-coll.png');
}
.witf-card-3{
background-image: url('who-is-this-for-tea2.png');
}

/*  Footer Section */
.footer-content {
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #bfd7fe;
    color: #333;
}